<ng-container *ngIf="users$ | async as users">
  <mat-toolbar>
    <span>Users</span>
  </mat-toolbar>

  <mat-list>
    <mat-list-item *ngFor="let user of users.data">
      <div class="user-item" (click)="goToUser(user.id)">
        <div class="user-image-wrapper">
          <img
            [src]="user.avatar"
            [alt]="user.first_name + ' ' + user.last_name"
          />
        </div>

        <div class="user-name">
          {{ user.first_name + " " + user.last_name }}
        </div>
      </div>
      <div class="user-delete-wrapper">
        <mat-icon
          aria-hidden="false"
          aria-label="Delete"
          fontIcon="delete_outline"
          (click)="removeUser(user.id)"
        ></mat-icon>
      </div>
    </mat-list-item>
  </mat-list>
  <mat-paginator
    [length]="users.total"
    [pageSize]="users.per_page"
    [pageIndex]="users.page - 1"
    (page)="changeUsersPage($event)"
  >
  </mat-paginator>
</ng-container>

<ng-container *ngIf="resources$ | async as resources">
  <mat-toolbar>
    <span>Resources</span>
  </mat-toolbar>

  <mat-list *ngFor="let res of resources.data">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>{{ res.name | uppercase }}</mat-card-title>
        <mat-card-subtitle>{{ res.color }}</mat-card-subtitle>
        <div
          class="resource-color"
          style="background-color:{{ res.color }}"
        ></div>
      </mat-card-title-group>
      <mat-card-content
        >pantone value: {{ res.pantone_value }}, year: {{ res.year }}
      </mat-card-content>
    </mat-card>
  </mat-list>

  <mat-paginator
    [length]="resources.total"
    [pageSize]="resources.per_page"
    [pageIndex]="resources.page - 1"
    (page)="changeResourcesPage($event)"
  >
  </mat-paginator>
</ng-container>
