:host {
  ::ng-deep {
    h1 {
      font-size: 25px;
      text-align: center;
    }
    .form {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .redirect-wrapper {
      display: flex;
      justify-content: center;
    }
    .button-submit-wrapper {
      text-align: center;
      mat-error {
        padding-top: 10px;
      }
    }
  }
}
